[Unit]
Description=System Monitor Service
After=mosquitto.service
Requires=mosquitto.service

[Service]
ExecStartPre=/bin/sleep 10
ExecStart=/usr/sbin/sys_mon -c sys_mon_ap -b 192.168.225.1 -p 1883 -r fuba_sa/sys_mon/ap
Restart=on-failure
RestartSec=3
StartLimitIntervalSec=60
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
